spring:
  data:
    mongodb:
      uri: ${MONGODB_URI}
      database: InterviewPrep
      auto-index-creation: true


server:
    port: 8086

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/